.geolocation {
    border: 10px solid red;
    border-radius: 10px;
    height: calc(100% - 10px);
    width: 500px;
    position: relative;
    color: brown !important;
}

.wrapp-geolocation{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.564);
    display: flex;
    align-items: start;
    justify-content: end;
    z-index: 1000;
}

.showMap {
    opacity: 1;
    visibility: visible;
    transition-duration: 5s;


}
.noShowMap {
    opacity: 0;
    visibility: hidden;
    transition: opacity 3s ease-in-out, visibility 3s ease-in-out;
}
